* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1450px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.text {
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  margin-bottom: 20px;
}


/*________verkefni 5 ___________*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card__title {
  margin-bottom: 0.3em;

  font-size: 1.375em;
  line-height: 1;
  word-break: break-word;
}

.card {
  background-color: #fff;
  max-width: 29.375em;
  max-height: 18.75em;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: 100%;

  border: 0.125em solid #aaa;
  border-radius: 0.3125em;
margin-bottom: 0.625em;
padding: 0.5em;
}


.card__content {
  display: flex;
  flex: 1;
}

.card__text {
  font-size: 1em;
  line-height: 1.375;
  overflow: auto;
  word-break: break-word;
}

.card__image {
  padding-left: 20px;
  flex: 0 0 150px;
}

.card__img {
  max-width: 100%;
}


.card__listContainer {
  margin-top: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
}

.card__listItem {
  font-weight: bold;
  margin-right: 10px;
}


/*________verkefni 5 klárast ___________*/



.grid {
  max-width: 1450px;
}

.grid__row {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
  flex-wrap: wrap;
}

.grid__col {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}


@media (max-width: 699px) {
  .card {
    max-width: none;
    max-height: none;
    border: none;
    border-bottom: 2px solid #aaa;
    border-radius: 0;
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
  }
  .card__content {
    flex-direction: column;
  }
  .card__text {
    height: 100%;
    margin-bottom: 1.25em;
  }
  .card__image {
    padding-left: 0;
  }
  .grid__col {
    width: 100%;
  }
  .grid__col--card {
    width: 100%;
  }
}

@media (min-width: 700px) {
  .grid__col--card {
    width: 50%;
  }
  .grid__row {
    flex-direction: row;
  }
  .cards {
    margin-bottom: 2.5em;
  }
}

@media (max-width: 999px) {
  .grid__col--reverse {
    order: 2;
  }
}


@media (min-width: 1000px) {
  .grid__col--grid {
    width: 50%;
    margin-bottom: 2.5em;
  }
  .grid__row {
    flex-direction: row;
  }
  .grid__col--card {
    width: 33.33333%;
  }
}


  @media (min-width: 1490px) {
    main {
      padding: 0;
    }
}
